<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Detection</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="purple-line"></div>
    <div class="main">
       <div class="main-heading">Fake News Detector</div>
    </div>
    <div class="purple-line-bottom"></div>
    <section>
        <div class="content">
            <form action="/predict" method="POST"  onsubmit="">
                <h1 class="heading">Write news content here...</h1>
                <textarea name="content" rows="10" placeholder="Fake news..."></textarea>
                <input class="predict-button" type="submit" value="Predict">
            </form>
            <div id="prediction" class="prediction">
                <br>
                {% if prediction %}
                    <h2>{{ prediction }}</h2>
                {% else %}
                    <h2>Waiting for input...</h2> <!-- Default message -->
                 {% endif %}
            </div>
       </div>
    </section>

    <div class="footer">
        <h3>Course</h3>
        <ul>
            <li>Artificial Intelligence</li>
        </ul>
        <h3>Teacher</h3>
        <ul>
            <li>Sir Saad Qasim</li>
        </ul>
        <h3>Group Members</h3>
        <ul>
            <li>Fahad Rasheed</li>
            <li>Abdul Ahad</li>
            <li>Sehrish Ahmed</li>
            <li>Laiba Mushtaq</li>
        </ul>
   </div>
</body>
</html>
